
<tooltip>
<style>
border-width:1;
border-radius:1;
max-width:900;
max-height:720;
min-width:850;
min-height:720;
background-color:#308eb5;
border-color:#308eb5;
border-style: solid;
background-radius:10;
border-width:3;
border-radius:5;
</style>
</tooltip>

<!--LOGO-->

<style>
.LOGO {
position: relative
float: left;
display: inline-block;
border-radius:12px;
background-color: #FFFFFF;
border: none;
color: #308eb5;
text-align: center;
font-size: 25px;
padding: 5px;
width: 190px;
transition: all 0.5s;
cursor: pointer;
margin: 1px;
}
.LOGO span {
float: right;
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.LOGO span:after {
float: right;
content: '\00bb';
position: absolute;
opacity: 0;
top: 1;
right: -20px;
transition: 0.5s;
}
.LOGO:hover span {
float: right;
padding-right: 20px;
}
.LOGO:hover span:after {
float: right;
opacity: 1;
right: 0;
}
</style>

<font size="2"><button class="LOGO" style="vertical-align:middle">
<a href="https://hydrobim.pl/"><img src="https://hydrobim.pl/wp-content/uploads/2021/03/xLogo-white.png.pagespeed.ic.cQBUyAdLi1.webp" alt="HOME.HydroBIM" style="width:140.5px;height:39.9px;"></a><span> </span></button>


<!--BELKA NAWIGACJI-->

<style>
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
.topnav {
overflow: hidden;
background-color: #008CBA;
}
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 12px;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a.active {
background-color: #008CBA;
color: white;
}
</style>

<div class="topnav">
<a href="
%USER_HB_Autodesk_Docs%
">
AUTODESK DOCS
</a>
<a href="
%USER_HB_Obiekty%
">
OBIEKTY
</a>
<a href="
%USER_HB_Projekt%
">
PROJEKT
</a>
<a href="
%USER_HB_Harmonogram% 
"> 
HARMONOGRAM
</a>
<a href="
%USER_HB_Decyzje_Administracyjne% 
">
DECYZJE ADMINISTRACYJNE
</a>
<a href="
%USER_HB_Sharepoint% 
">
SHAREPOINT

</div>

<!--WSTĄŻKA -->

<head>
<style>
body {
 font-family: Arial, Helvetica, sans-serif;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #308eb5;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #111;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover {
  color: white;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: black;
  padding: 1px 5px;
  border: none;
}
.openbtn:hover {
  background-color: #308eb5;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="
%USER_HB_MDCP%
">
Mapa do celów projektowych</a>
  <a href="
%USER_HB_Nadzory%
">
Nadzory
</a>
  <a href="
%USER_HB_Kontakty%
">
Lista kontaków
</a>
  <a href="
%USER_HB_Trello%
">
Trello
</a>
  <a href="
%USER_HB_Zestawienia%
">
Zestawienia
</a>
 <a href="
%USER_HB_Ewidencja%
">
Ewidencja
</a>
  <a href="
%USER_HB_Wizualizacje%
">
Wizualizacje
</a>
</div>
<div id="main">
  <button class="openbtn" onclick="openNav()">&#8592; </button>  
</div>
<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
</body>
</html> 

<!--OPIS-->

</font><div style="text-align: center;"><br></div><div style="text-align: center;"><br></div><div style="text-align: center;"><br></div><div style="text-align: center;">
<ul style="font-family: &quot;MS PGothic&quot;;"><h>
</h></ul>

<h1>Nazwa elementu:</h1><h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
box-sizing: border-box;
}
body {
font-family: Arial, Helvetica, sans-serif;
}
header {
background-color: #008CBA;
padding: 10px;
text-align: center;
font-size: 15px;
color: white;
}
</style>

<header style="font-family: &quot;MS PGothic&quot;;">
<h2><font size="5">%NAME%<br></font></h2><font size="5">
</font></header>

<!--PRZYCISKI DO MODELU-->

<ul style="font-family: &quot;MS PGothic&quot;; font-size: x-large;">
</ul>
<style>
.button2 {
border: none;
color: white;
padding: 16px 25px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 2px 2px;
transition-duration: 0.4s;
cursor: pointer;
}
.button2 {
background-color: white; 
color: black; 
border: 2px solid #4CAF50;
}
.button2:hover {
background-color: #4CAF50;
color: white;
}
.button2 {
background-color: white; 
color: black; 
border: 2px solid #008CBA;
}
.button2:hover {
background-color: #008CBA;
color: white;
}
</style>

<!--link do dokumentacji 2D-->

<a href="
%USER_HB_Link_Dokumentacja%
"style="font-family: &quot;MS PGothic&quot;; font-size: x-large;">
<button class="button button2" style="">DOKUMENTACJA 2D</button></a>

<!--link do modelu 3D-->

<a href="
%USER_HB_Model_3D%
">
<button class="button button2" style=""> MODEL 3D </button></a>

<!--link do dokumentacji FOTOGRAFICZNEJ -->

<a href="
%USER_HB_Link_Fotografie%" style="font-weight: bold;">
<button class="button button2" style=""> DOKUMENTACJA FOTOGRAFICZNA</button></a>

</h1><h2 style="color: rgb(0, 0, 0);"><br></h2><h2 style=""><span style="color: rgb(0, 0, 0);"> RODZAJ PRAC:&nbsp; </span><font color="#005500"><i>
%USER_HB_Rodzaj_prac%
</i></font>
<h3 style="color: rgb(0, 0, 0);"></h3><h3 style=""><span style="color: rgb(0, 0, 0);"> DATA WYKONANIA ELEMENTU:&nbsp; </span><font color="#005500"><i>
%USER_HB_Data_Wykonania%
</i></font></h3>


<!--sekcja Geoportal-->
 
<ul style="font-family: &quot;MS PGothic&quot;; font-size: x-large;">
 
</ul>
<style>
.button3 {
border: none;
color: white;
padding: 10px 30px;
text-align: center;
display: inline-block;
font-size: 15px;
margin: 2px 2px;
transition-duration: 0.4s;
cursor: pointer;
}
.button3 {
background-color: #008CBA; 
color: white; 
border: 2px solid #008CBA;
}
.button3:hover {
background-color: #008CBA;
color: white;
}
</style>
<a href="
%USER_HB_Link_Geoportal%
">
<button class="button button3" style=""> GEOPORTAL </button></a>
 
<a href="
%USER_HB_Link_ISOK%
">
<button class="button button3" style=""> ISOK</button></a>
 
<a href="
%USER_HB_Link_Hydroportal%">
<button class="button button3" style=""> HYDROPORTAL</button></a>
 
<a href="
%USER_HB_IMGW%">
<button class="button button3" style=""> METEO</button></a>

</div></font></font></font>
</div>


