html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#testBtn {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: azure;
    border: 1px solid darkgreen;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}